.text {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
  }
  
  .mainCategory {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
    position: relative;
    padding: 0.5em 0;
  }
  
  .mainCategory:hover {
    background-color: #d8c8bb;
  }
  
  .mainCategoryText {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  
  .mainCategoryText:hover {
    color: #f1ecec;
  }
  
  .mainCategoryText::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #f1ecec;
    transition: width 0.3s ease-in-out;
  }
  
  .mainCategoryText:hover::after {
    width: 100%;
  }

  .mainCategoryButton {
    background-color: transparent;
    border: none;
  }
  
  .subCategoryButton {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
    height: fit-content;
  }
  
  .subCategoryButton:hover {
    background-color: #d8c8bb;
  }
  
  .subCategoryText {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .subCategoryText::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #5a5a5a;
    transition: width 0.3s ease-in-out;
  }
  
  .subCategoryText:hover::after {
    width: 100%;
  }
  
  .logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0%;
    cursor: pointer;
    margin: 1em;
    transition: background-color 0.2s ease;
  }
  
  .logoutText {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 0.6em;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-right: 0.5em;
    transition: color 0.3s ease;
  }
  
  .logoutText:hover {
    color: #c4ad99;
  }
  