.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: -8.5em; 
}

.logo {
  max-width: 340px;
  height: auto;
}

.mainCategoryText {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
  text-align: right; 
}

.mainCategoryText:hover {
  color: #f1ecec;
}

.mainCategoryText::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #f1ecec;
  transition: width 0.3s ease-in-out;
}

.mainCategoryText:hover::after {
  width: 100%;
}

.subCategoryButton {
  background-color: transparent;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 100%;
  padding-left: 1.5em; 
}

.subCategoryButton:hover {
  background-color: #d8c8bb;
}

.subCategoryText {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  font-weight: lighter;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: right; 
}

.subCategoryText::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #5a5a5a;
  transition: width 0.3s ease-in-out;
}

.subCategoryText:hover::after {
  width: 100%;
}

.drawerContainer {
  display: flex;
  margin-right: 10em;
  margin-left: -5em;
  background-color: inherit;
}

.menuButton {
  background-color: transparent;
  border: none;
  border-radius: 40px;
  color: white;
  margin-left: 1em;
  padding: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuButton:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.categoryContainer {
  margin-bottom: 10px;
  position: relative;
}

.listItem {
  display: flex;
  padding: 0.2em;
  transition: background-color 0.2s ease;
}

.listItem:hover{
  background-color: #d8c8bb;
}

.subCategoryContainer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  background-color: transparent;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.subCategoryContainerActive {
  max-height: 300px; 
}


@media (max-width: 768px) {
    .logoContainer {
        margin-top: -4em;
        margin-bottom: 0.5em;
    }

    .logo {
        max-width: 250px;
    }

    .drawerContainer {
        margin-right: 2em;
        margin-left: 0; 
        width: 100%; 
    }

    .mainCategoryText {
        text-align: center; 
    }

    .subCategoryButton {
        padding-left: 1em;
    }

    .subCategoryText {
        font-size: 1em; 
        text-align: center; 
    }

    .temporaryDrawer {
        margin-left: 3rem;
    }

    .subCategoryContainer {
        box-shadow: none; 
    }
}

@media (max-width: 640px) {
    .logoContainer {
        margin-top: -2em; 
        margin-bottom: 0.3em;
    }

    .logo {
        max-width: 200px;
    }

    .drawerContainer {
        margin-right: 1em;
    }

    .subCategoryButton {
        padding-left: 1em; 
    }

    .mainCategoryText {
        font-size: 0.9em; 
    }

    .subCategoryText {
        font-size: 1em; 
    }

    .menuButton {
        padding: 0.4em; 
    }

    .listItem {
        padding: 0.1em; 
    }

    .drawerContainer {
        height: 100vh; 
        flex-direction: column; 
    }

    .subCategoryContainerActive {
        max-height: none; 
    }
}
